<nav class="navbar navbar-inverse">
    <div *ngIf="authService.isLoggedIn" class="container-fluid">
        <!-- suporte a mobile -->
        <div class="navbar-header">
            <button 
                type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target="#bs-example-navbar-collapse-1" 
                aria-expanded="false">
                <span class="sr-only">Visualizar itens</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">Projeto Final</a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a 
                        href="#" 
                        class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        Projetos 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/calculadora']"> Calculadora </a></li>
                        <li><a [routerLink]="['/conversor-moedas']"> Conversor de moedas </a></li>
                        <li><a [routerLink]="['/tarefas/listar']"> Gerenciador de tarefas </a></li>
                        <li><a [routerLink]="['/jogo-da-velha']"> Jogo da velha </a></li>
                    </ul>
                </li>
                
            </ul>
            <a class="navbar-right navbar-brand dropdown" (click)="authService.SignOut()"> Sair </a>
            <a class="navbar-right navbar-brand dropdown" [routerLink]="['/app-dashboard']"> Perfil </a>
        </div>
    </div>

    <div *ngIf="!authService.isLoggedIn" class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['']">Projeto Final</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a class="navbar-right navbar-brand dropdown" [routerLink]="['/sign-in']"> Entrar </a>
        </div>
    </div>

</nav>



<div class="content">
    <router-outlet></router-outlet>
</div>