<html>
<body>
<div class="content">
  <div class="container">
    <h1 class="title">
      <b>BEM VINDO!</b>
    </h1>
  </div>
  <br>
  <div class="container description lead">
    <h3>
      Este é o projeto final do treinamento em Angular 13,
      resultado do curso que compõe o trainamento da Asimov Jr. 
    </h3>
  </div>

  <br>
    <div class="text-center">
      <img src="../../assets/imagens/asimov.png" class="rounded img" alt="...">
    </div>
  <br>

  <footer id="myFooter">
    <div class="container">
      <p class="footer-copyright">© 2022 Copyright - Lucas Dias</p>
    </div>
  </footer>
</div>
</body>
</html>
